h1 {
    color: rgb(59, 56, 56);
}

h2 {
    color: rgba(35, 189, 81, 0.685);
}

h3 {
    color: rgb(153, 62, 62);
}

.message{
    width: 30%;
    border: solid black 2px;
    padding: lem;
    background-color: lightgray;
}
.pass{
    color: green;
}
.err{
    color: red;
}